.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #04AA6D;
}

.menu-item {
    float: left;
    border-right: 1px solid #bbb;
}

.title {
    text-align: center;
    color: white;
    float: left;
    font-size: 15px;
    margin-left: 20px;
    font-style: italic;
}

.menu-item a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu-item a:hover:not(.active) {
    background-color: #111;
}

form {
    border: 3px solid #04AA6D;
    width: 25%;
    margin: auto;
    margin-top: 5%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 325px;
}

.input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.login {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.login:hover {
    opacity: 0.8;
}

.cancelarbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

.box {
    padding: 16px;
}
footer {
    left: 0;
    bottom: 0;
    width: 100%;
    color: black;
    text-align: center;
    position: fixed;
}

.email {
    text-decoration: none;
    color: black;
}

.redes-sociais {
    float: right;
}

.fa-facebook {
    color: blue;
    padding: 20px;
    width: 50px;
}

.fa-instagram {
    color: rgb(237, 19, 146);
    padding: 20px;
    width: 80px;
}

.autor {
    float: left;
}